
.button-custom {
    box-shadow: inset 0px 1px 3px 0px #4054a0;
    background: linear-gradient(to bottom, #212a4b 5%, #151b2f 100%);
    background-color: #212a4b;
    border-radius: 5px;
    border: 1px solid #121627;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #212a4b;
}
.button-custom:hover {
    background: linear-gradient(to bottom, #1c2440 5%, #212a4b 100%);
    background-color: #18203c;
}
.button-custom:active {
	position:relative;
	top:1px;
}

.button-custom-red {
    box-shadow: inset 0px 1px 3px 0px #a04040;
    background: linear-gradient(to bottom, #8c0d0d 5%, #421a1a 100%);
    background-color: #8f3f3f;
    border-radius: 5px;
    border: 1px solid #271212;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #4b2121;
}
.button-custom-red:hover {
    background: linear-gradient(to bottom, #401c1c 5%, #4b2121 100%);
    background-color: #3c1818;
}


.button-custom-green {
    box-shadow: inset 0px 1px 3px 0px #43a040;
    background: linear-gradient(to bottom, #214b2b 5%, #152f19 100%);
    background-color: #214b24;
    border-radius: 5px;
    border: 1px solid #122715;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px -1px 0px #214b27;
}
.button-custom-green:hover {
    background: linear-gradient(to bottom, #1c401e 5%, #214b22 100%);
    background-color: #183c25;
}


.button-custom-red:active {
	position:relative;
	top:1px;
}

/* O código abaixo será refatorado*/
.height-0-px{
    height: 0;
}
.height-75-px{
    height: 75px;
}

.button-more-option{
    position: absolute;
    right: 8px;
    top: 23px;
    z-index: 1;
    background: white;
    border: 1px solid #0000009e;
    border-radius: 5px;
    overflow: hidden;
}

.container-tolltip{
    position: fixed;
    right: 60px;
    top: 55px;
    z-index: 2;
}

.button-tooltip{
    border: 1px solid #9090909e;
    border-radius: 5px;
    overflow: hidden;
}

.more-options{
    margin: unset;
    text-align: center;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}
.hr-more-oprion{
    margin: unset;
}
p.more-options:hover {
    background-color: #0000003b;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #271212;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #271212;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}
