#modal-container {
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;
}


#modal-container.four {
    z-index:0;
    transform:scale(1);
}

#modal-container.four.out > .modal-background > .modal {
    animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


#modal-container.four.out + div.content {
    display: block;
    animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}


#modal-container.four.out > .modal-background{
    background-color: transparent;
}


#modal-container.four + div.content {
    z-index: 0;
    display: none;
    
}

#modal-container.four > .modal-background {
    z-index:1;
    background:rgba(0,0,0,.7);
}

#modal-container.four > .modal-background > .modal {
    z-index:1;
    animation: blowUpModal 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

#modal-container > .modal-background {
    display:table-cell;
    background:rgba(0,0,0,.8);
    text-align:center;
    vertical-align:middle;
}

#modal-container > .modal-background > .modal {
    background:white;
    padding:50px;
    display:inline-block;
    border-radius:3px;
    font-weight:300;
    position:relative;
}

.content {
    min-height:100%;
    height:100%;
    position:relative;
    z-index:0; 
}

@keyframes blowUpContentTwo {
    0% {
        transform:scale(0);
        opacity:0;
    }
    100% {
        transform:scale(1);
        opacity:1;
    }
}


@keyframes blowUpModal {
    0% {
        transform:scale(2);
        opacity: 0;
    }
    100% {
        transform:scale(1);
        opacity: 1;
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform:scale(1);
        opacity:1;
    }
    100% {
        transform:scale(2);
        opacity:0;
    }
}

/*Código abaixo será refatorado*/
#modal-container-opcoes {
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
}


#modal-container-opcoes > .modal-background {
    background:rgba(0,0,0,.8);
}

#modal-container-opcoes > .modal-background > .modal {
    background: white;
    padding: 20px 30px;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
    margin: auto;
    overflow: hidden;
}