/* ---------- display ---------- */
.dsp-flx{
    display: flex;
}
.dsp-inline-blk{
    display: inline-block;
}
.dsp-none{
    display: none;
}
.dsp-table{
    display: table;
}
.dsp-inl-blk{
    display: inline-block;
}
.jstf-cnt-space-between{
    justify-content: space-between;
}
.jstf-cnt-flex-end{
    justify-content: flex-end;
}
.flx-dir-col{
    flex-direction: column;
}
.flx-wrp{
    flex-wrap: wrap;
}
.algn-items-center{
    align-items: center;
}
.algn-items-flex-start{
    align-items: flex-start;
}
/* ---------- margin ---------- */
.mrg-xy-5-px{
    margin: 5px;
}
.mrg-xy-10-px{
    margin: 10px;
}
.mrg-xy-15-px{
    margin: 15px;
}
.mrg-top-10-px{
    margin-top: 10px;
}
.mrg-left-unset{
    margin-left: unset;
}
.mrg-xy-20-px{
    margin: 20px;
}
.mrg-4y-9x{
    margin: 4px 9px;
}
.mrg-y-15-px{
    margin: 15px 0;
}
.mrg-x-5-px{
    margin: 0 5px;
}
.mrg-x-15-px{
    margin: 0 15px;
}
.mrg-unset{
    margin: unset;
}

/* ---------- padding ---------- */
.pdng-x-25-px{
    padding: 0 25px;          
}
.pdng-xy-20-px{
    padding: 20px;
}
.pdng-xy-8-px{
    padding: 8px;
}
.pdng-xy-10-px{
    padding: 10px;
}
.pdng-y-5-x-10-px{
    padding: 5px 10px;
}
.pdng-y-11-x-23-px{
    padding: 11px 23px;
}


/* ---------- border ---------- */

.border-none{
    border: none;
}
.border-radius-10-px{
    border-radius: 10px;
}
.border-radius-5-px{
    border-radius: 5px;
}
.border-radius-7-px{
    border-radius: 7px;
}
.border-1-px-solid-white{
    border: 1px solid white;
}
.border-1-px-solid-white-transp{
    border: 1px solid #0000001f;
}
.bx-shadow{
    -webkit-box-shadow: 3px 9px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 9px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 9px 17px -4px rgba(0,0,0,0.75);
}
/* ---------- background ---------- */
input.border-none:focus + hr{
    background-color: #000b31de;
}
.bg-transp{
    background: transparent;
}
.bg-linear-grad-blck-trasp{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
.linhas-tabela:hover{
    background: #69696991;
}
.bg-blue{
    background-color: #212a4b;
}
.bg-green{
    background: #00ff00;
}
.bg-red{
    background: red;
}
.bg-yellow{
    background: yellow;
}
.bg-l-blue{
    background: rgb(0, 232, 255);
}

/* ---------- width ---------- */
.w-100-perc{
    width: 100%;
}
.w-85-perc{
    width: 85%;
}
.w-25-perc{
    width: 25%;
}
.w-40-px{
    width: 40px;
}
.w-150-px{
    width: 150px;
}

.w-418-px{
    width: 418px;
}
.w-285-px{
    width: 285px;
}

/* ---------- height ---------- */
.hght-1-px{
    height: 1px;
}
.hght-100-perc{
    height: 100%;
}
.hght-170-px{
    height: 170px;
}
.hght-145-px{
    height: 145px;
}
.mx-hght-500-px{
    max-height: 500px;
}
.mx-hght-0-px{
    max-height: 0px;
}

/* ---------- font ---------- */
.fnt-sz-1-rem{
    font-size: 1rem;
}
.fnt-sz-14-px {
    font-size: 14px;
}
.fnt-w-b {
    font-weight: 600;
}
.clr-white{
    color: white;
}
.text-align-end{
    text-align: end;
}

/* ---------- outline ---------- */
.outline-none{
    outline: none;
}

/* ---------- float ---------- */
.flt-r{
    float: right;
}

/* ---------- user ---------- */

.usr-slct-none{
    user-select: none;
}
.cursor-pointer{
    cursor: pointer;
}

/* ---------- position ---------- */
.position-absolute{
    position: absolute;
}
.right-20-px{
    right: 20px;
}
.top-20-px{
    top: 20px;
}

.opacity-0{
    opacity:0;
}

.opacity-1{
    opacity:1;
}

/* ---------- transition ---------- */

.transition-opacity-dec25s-ease-in-out{
    transition: opacity .25s ease-in-out;
}
.transition-height-dec15s-ease-in-out{
    transition: height .15s ease-in-out;
}
.transition-mx-height-dec20s-ease-in-out {
    transition: max-height .20s ease-in-out;
}
.transition-width-height-dec5s{
    transition: width .5s, height .5s ease-in-out;
}


.z-index-1{
    z-index: 1;
}