/* ---------- tabela ---------- */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #888888;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(1) {
    background-color: #000b31de;
    color: white;
}
th:nth-child(1) {
    width: 15%;
}
th:nth-child(2) {
    width: 20%;
}
th:nth-child(3) {
    width: 15%;
}
th:nth-child(4) {
    width: 22%;
}
th{
    cursor: pointer;
}

/* ---------- transition ---------- */
tr.trns-rotate-y-opct-0.linhas-tabela > td{
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}
tr.trns-rotate-y-opct-1.linhas-tabela > td{
    opacity: 1;
    transform: none;
}