<div class="modal-background hght-100-perc dsp-flx" id="modal-background-opcoes">
    <div class="modal dsp-flx algn-items-flex-start flx-dir-col bx-shadow w-285-px transition-width-height-dec5s hght-145-px" id="modal-conteudo-opcoes">
        <div id="conteudo-salvar-localstorage" class="dsp-flx flx-dir-col w-100-perc">
            <div class="dsp-flx flx-dir-col algn-items-flex-start">
                <h2>Apagar lista</h2>
                <div class="dsp-flx mrg-x-15-px algn-items-center w-85-perc">
                    <label for="">Lista: </label>
                    <select name="listas" id="select-listas-Apagar" class="w-100-perc mrg-x-15-px outline-none border-radius-7-px pdng-xy-8-px transition-opacity-dec25s-ease-in-out opacity-1 opacity-0"></select>
                </div>
            </div>
            <div class="footer-salvar-localstorage dsp-flx mrg-y-15-px jstf-cnt-flex-end transition-opacity-dec25s-ease-in-out opacity-1 opacity-0" id="buttons-slvr-cnclr">
                <button onclick="funcaoModalLS.modalApagarLista()" class="mrg-x-5-px button-custom pdng-y-5-x-10-px">Apagar</button>
                <button onclick="funcaoModalLS.fecharModal();" class="mrg-x-5-px button-custom-red pdng-y-5-x-10-px">Fechar</button>
            </div>
        </div>
    </div>
</div>
