<div class="modal-background hght-100-perc dsp-flx" id="modal-background-opcoes">
    <div class="modal dsp-flx algn-items-flex-start flx-dir-col bx-shadow w-285-px transition-width-height-dec5s hght-145-px" id="modal-conteudo-opcoes">
        <div id="conteudo-salvar-localstorage" class="dsp-flx flx-dir-col w-100-perc">
            <div class="dsp-flx flx-dir-col algn-items-flex-start">
                <h2>Salvar LocalStorage</h2>
                <div class="dsp-flx mrg-x-15-px algn-items-center">
                    <label for="">Nome: </label>
                    <input type="text" class="w-100-perc mrg-x-15-px outline-none border-radius-7-px pdng-xy-8-px transition-opacity-dec25s-ease-in-out opacity-1 opacity-0" placeholder="Digite aqui..." id="nome-lista">
                    <p class="dsp-none mrg-x-15-px fnt-w-b transition-opacity-dec25s-ease-in-out opacity-0" id="nome-escolhido"></p>
                </div>
            </div>
            <div class="footer-salvar-localstorage dsp-flx mrg-y-15-px jstf-cnt-flex-end transition-opacity-dec25s-ease-in-out opacity-1 opacity-0" id="buttons-slvr-cnclr">
                <button onclick="funcaoModalLS.salvarLista()" class="mrg-x-5-px button-custom pdng-y-5-x-10-px">Salvar</button>
                <button onclick="funcaoModalLS.fecharModal();" class="mrg-x-5-px button-custom-red pdng-y-5-x-10-px">Fechar</button>
            </div>
            <div class="footer-salvar-localstorage dsp-flx mrg-y-15-px jstf-cnt-flex-end dsp-none transition-opacity-dec25s-ease-in-out opacity-0" id="buttons-sbrcv-cnctn">
                <button class="mrg-x-5-px button-custom pdng-y-5-x-10-px" onclick="funcaoModalLS.sobrescrever()">Sobrescrever</button>
                <button class="mrg-x-5-px button-custom pdng-y-5-x-10-px" onclick="funcaoModalLS.concatenar()">Concatenar</button>
                <button class="mrg-x-5-px button-custom-red pdng-y-5-x-10-px" onclick="funcaoModalLS.apagarLista()">Apagar</button>
                <button class="mrg-x-5-px button-custom-red pdng-y-5-x-10-px" onclick="funcaoModalLS.cancelar()">Cancelar</button>
            </div>
            <div class="footer-salvar-localstorage dsp-flx flx-dir-col jstf-cnt-flex-end dsp-none transition-opacity-dec25s-ease-in-out opacity-0" id="buttons-concat">
                <div class="dsp-inl-blk mrg-xy-15-px">
                    <input type="radio" id="sem-repetir" name="gender" checked value="sem-repetir">
                    <label for="sem-repetir">Sem repetir linhas</label>
                    <input type="radio" id="repetir" name="gender" value="repetir">
                    <label for="repetir">Repetir linhas</label>
                </div>
                <div class="text-align-end">
                    <button class="mrg-x-5-px button-custom pdng-y-5-x-10-px" onclick="funcaoModalLS.finalizarConcat()">Finalizar</button>
                    <button class="mrg-x-5-px button-custom-red pdng-y-5-x-10-px" onclick="funcaoModalLS.cancelarConcat()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
